#logo_lettering {
    background: white;
    color: #d21404;
    font: 390px/50px Kristen ITC;
}
button, #save {
    height: 8vh;
    width: 15vw;
    background: #d21404;
    color: white;
    border-radius: 30px;
    font: 70px/10px Kristen ITC;
    margin: 0.25em;
}
body {
    margin: 0px;
}