#login-container {
    width: 100vw;
    background: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font: 100px/20px Kristen ITC;
    color: #d21404;
    margin: 0.75em;
}

input {
    background: #d21404;
    width: 35vw;
    height: 10vh;
    border-radius: 50px;
    font: 75px/10px Kristen ITC;
    border: 0px;
}
::placeholder {
    color: white;
}
#button-container, .register_container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.button-container {
    height: 10vh;
    width: 35vw;
    margin: 1vh;
}
.register_container {
    width: 100vw;
    height: 100vh;
}
.input_container {
    display: flex;
    flex-direction: column;
}
.input_container>form>input {
    margin: 0.5em;
}
.register_container>.logo>#logo_lettering {
    margin: 0.25em;
}
#error-message, #error-password-message, #error-email-message, #error-phone-message {
    font: 40px/10px Arial;
    color: black;
    margin: 0.25em;
}
.logo {
    margin: 1em 20em;
}

@media only screen and (max-device-width: 420px) {
    #logo_lettering, .register_container>.logo>#logo_lettering {
        font: 180px/50px Kristen ITC;
    }
    input {
        width: 80vw;
        height: 10vh;
        font: 55px/10px Kristen ITC;
    }
    .button-container {
        height: 10vh;
        width: 80vw;
    }
    button {
        font: 50px/10px Kristen ITC;
        height: 10vh;
        width: 70vw;
    }
    .button-container, .register_container {
        display: flex;
        flex-direction: column;
    }
    #error-message, #error-password-message, #error-email-message, #error-phone-message {
        font: 35px/10px Arial;
        margin: 0.75em;
    }
    .button-container>a>button {
        width: 75vw;
    }
    .input_container>form {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
}

