nav {
    height: 12vh;
    width: 100vw;
    background: #d21404 0% 0% no-repeat padding-box;
    display: flex;
}
a, main-page, ul, li {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    height: 7vh;
    width: 20vw;
    background: #ffffff;
    color: #d21404;
    text-decoration: none;
    line-height: 2em;
}
.container {
    width: 100vw;
    height: 100vh;
}
main-page {
    flex-direction: column;
}
ul {
    flex-direction: row;
    margin: 1vw;
}
li {
    width: 18vw;
    font: 70px/10px Kristen ITC;
    margin: auto;
    padding: 0px;
    background: white;
    margin: 1vw;
}

#nav_logo {
    font: 180px/5px Kristen ITC;
    background: #d21404;
    color: white;
    margin: 50px 40px;
}

body {
    margin: 0px;
}
@media only screen and (max-device-width: 420px) {
    #nav_logo {
        display: none;
    }
    li {
        width: 23vw;
        font: 40px/5px Kristen ITC;
    }
}
