table, tr, td {
    border: 1px solid #000000;

    color: #000000;
}
td, .delete_button>form>button {
    font: 50px/10px Arial;
}
#table-header>td {
    font: 80px/10px Kristen ITC;
}
table {
    width: 86vw;
}
.admin-reservation-page{
    margin: 5vh 7vw;
    padding: 0px;
}
td {
    height: 7vh;
    padding: 0px 0.5em;
}
#empty-button, button {
    height: 7vh;
    width: 5vw;
    padding: 0px;
}

button{
    background: #d21404;
    border: 0px;
    color: white;
}
nav>p{
    padding: 0.4em 0;
}