#reservation-page, #form, #notlog-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#reservation-page {
    width: 100vw;
    height: 88vh;
    flex-direction: column;
}
#title {
    color: #d21404;
    font: 55px/20px Kristen ITC;
}
#form {
    height: 60vh;
    flex-direction: row;
}
#information, #tips {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#tips {
    width: 40vh;
    color: #d21404;
}
input, select {
    width: 25vw;
    height: 5vh;
    background: white;
    border-radius: 50px;
    font: 25px/10px Kristen ITC;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
p2 {
    padding: 30px 10px;
    font: 35px/20px Kristen ITC;
}
select {
    height: 8vh;
    width: 26.5vw;
}
p3 {
    font: 15px/10px Arial;
    color: black;
    margin: 3em;
}
#reservation-page>p {
    margin: 0;
}
form {
    width: 50vw;
    height: 55vh;
}
#save {
    width: 25vw;
}
#notlog-container {
    width: 100vw;
    height: 50vh;
    flex-direction: column;
}
#notlog-container>button {
    background: #a91304;
    color: white;
}
#choose-date>select {
    width: 8vw;
    margin-right: 0;
}
#choose-hour>select {
    width: 12.5vw;
    margin-right: 0;
}

