<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="./css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="./css/main-style.css">
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <p id="nav_logo">Roligt</p>
            <li>
                <a href="#" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="reservations" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="login" class="button"><p1>Zaloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div id="main-page">
        <div class="photos">
            <img src="src/resources/img/obrazek.png">
            <img src="src/resources/img/obrazek.png">
        </div>
        <div id="description">
            <p>Lorem Ipsum</p>
        </div>
        <div class="photos">
            <img src="src/resources/img/obrazek.png">
            <img src="src/resources/img/obrazek.png">
        </div>
    </div>
</div>
</body>
</html>