<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="./css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="./css/main-style.css">
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <p id="nav_logo">Roligt</p>
            <li>
                <a href="#" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="reservations" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="loginpage" class="button"><p1>Zaloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div id="main-page">
        <div class="photos">
            <img th:src="@{/img/img1.png}"/>
            <img th:src="@{/img/img2.png}"/>
        </div>
        <div id="description">
            <p>Lorem ipsum</p>
        </div>
        <div class="photos">
            <img th:src="@{/img/img3.png}"/>
            <img th:src="@{/img/img4.png}"/>
        </div>
    </div>
</div>
</body>
</html>