<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="./css/price-list-style.css">
    <title>Price List Page</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <p id="nav_logo">Roligt</p>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="reservations" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="#" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="login" class="button"><p1>Zaloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div id="price-list-page">
        <table>
            <tr id="row-1">
                <td> </td> <td>0-10 dzieci</td> <td>11-15 dzieci</td> <td>16-20 dzieci</td>
            </tr>
            <tr>
                <td>Grupa przedszkolna</td> <td>130zł</td> <td>170zł</td> <td>200zł</td>
            </tr>
            <tr>
                <td>Urodziny</td> <td>180zł</td> <td>210zł</td> <td>230zł</td>
            </tr>
            <tr>
                <td>Impreza rodzinna</td> <td>150zł</td> <td>190zł</td> <td>220zł</td>
            </tr>
            <tr>
                <td>Impreza specjalna</td> <td>160zł</td> <td>200zł</td> <td>220zł</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>