<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="./css/price-list-style.css">
    <title>Price List Page</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <p id="nav_logo">Roligt</p>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="reservations" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="#" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="loginpage" class="button"><p1>Zaloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div id="price-list-page">
        <table>
            <tr id="row-1">
                <td> </td> <td>0-10 dzieci</td> <td>11-15 dzieci</td> <td>16-20 dzieci</td>
            </tr>
            <tr>
                <td th:text="${names[0]}"/>
                <td th:text="${prices[0]}"/> <td th:text="${prices[1]}"/> <td th:text="${prices[2]}"/>
            </tr>
            <tr>
                <td th:text="${names[1]}"/>
                <td th:text="${prices[3]}"/> <td th:text="${prices[4]}"/> <td th:text="${prices[5]}"/>
            </tr>
            <tr>
                <td th:text="${names[2]}"/>
                <td th:text="${prices[6]}"/> <td th:text="${prices[7]}"/> <td th:text="${prices[8]}"/>
            </tr>
            <tr>
                <td th:text="${names[3]}"/>
                <td th:text="${prices[9]}"/> <td th:text="${prices[10]}"/> <td th:text="${prices[11]}"/>
            </tr>
        </table>
    </div>
</div>

</body>
</html>