<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/login-and-reg-style.css">
    <link rel="stylesheet" type="text/css" href="./css/general-style.css">
    <title>Roligt</title>
</head>
<body>
<div class="register_container">
    <div class="logo">
        <p id="logo_lettering">Roligt</p>
    </div>
    <div class="input_container">
        <form th:action="@{/add-user}" th:object="${newUser}" method="post">
            <input name="email" type="text" placeholder="  Email"  th:field="*{email}">
            <input name="password" type="password" placeholder="  Hasło"  th:field="*{password}">
            <input name="confirmedPassword" type="password" placeholder="  Powtórz hasło">
            <input name="phone" type="text" placeholder="  Telefon"  th:field="*{phoneNumber}">
            <div class="button-container">
                <a href="login"><button type="button">Zarejestruj</button></a>
            </div>
        </form>
    </div>
</div>
</body>
</html>