<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation page for admin</title>
    <link rel="stylesheet" type="text/css" href="nav-style.css">
    <link rel="stylesheet" type="text/css" href="res-admin-style.css">
</head>
<body>
<div class="container">
    <nav>
        <p id="nav_logo">Roligt</p>
        <ul>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="#" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="login" class="button"><p1>Wyloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div class="admin-reservation-page">
        <table>
            <tr id="table-header">
                <td class="p_email">Email</td>
                <td class="p_telefon">Telefon</td>
                <td class="p_data">Data</td>
                <td class="p_godzina">Godzina</td>
                <td class="p_miejsce">Miejsce</td>
                <td class="p_ilosc">Liczba dzieci</td>
                <td class="delet_button"></td>
            </tr>
            <tr class="event-info">
                <td class="p_email"><p th:text="${userEmail}"/></td>
                <td class="p_telefon"><p th:text="${userPhone}"/></td>
                <td class="p_data"><p th:text="${eventDate}"/></td>
                <td class="p_godzina"><p th:text="${eventHour}"/></td>
                <td class="p_miejsce"><p th:text="${eventPlace}"/></td>
                <td class="p_ilosc"><p th:text="${numberOfChildren}"/></td>
                <td class="delet_button"><button>Usuń</button></td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>