<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation page for admin</title>
</head>
<body>
<div class="container">
    <nav>
        <img src="src/resources/img/logo.svg">
        <ul>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="#" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="login" class="button"><p1>Wyloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div class="admin-reservation-page">
        <table>
            <tr>
                <td>Email</td> <td>Telefon</td> <td>Data</td> <td>Godzina</td>
                <td>Miejsce</td> <td>Ilość dzieci</td> <button>Usuń</button>
            </tr>
            <tr>
                <td>anowak@gmail.com</td> <td>123456789</td> <td>23-09-2021</td>
                <td>13:30</td> <td>Sopot, Kolorowa,48</td> <td>9</td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>