<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation page for admin</title>
    <link rel="stylesheet" type="text/css" href="./css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="./css/res-admin-style.css">
</head>
<body>
<div class="container">
    <nav>
        <p id="nav_logo">Roligt</p>
        <ul>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="#" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="loginpage" class="button"><p1>Wyloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div class="admin-reservation-page">
        <table>
            <tr id="table-header">
                <td class="p_email">Email</td>
                <td class="p_telefon">Telefon</td>
                <td class="p_data">Data</td>
                <td class="p_godzina">Godzina</td>
                <td class="p_miejsce">Miejsce</td>
                <td class="p_typ">Typ</td>
                <td class="p_ilosc">Liczba dzieci</td>
                <td class="delet_button"></td>
            </tr>
            <tr th:each="reservation: ${resList}">
                    <td th:text="${reservation.getUser_id().getEmail()}"/>
                    <td th:text="${reservation.getUser_id().getPhoneNumber()}"/>
                    <td th:text="${reservation.getDate()}"/>
                    <td th:text="${reservation.getHour()}"/>
                    <td th:text="${reservation.getPlace()}"/>
                    <td th:text="${reservation.getCategory_id().getName()}"/>
                    <td th:text="${reservation.getCategory_id().getNumber_of_children()}"/>
                    <td class="delete_button">
                            <form th:action="@{/delete/{id}(id=${reservation.getReservation_id()})}" method="post">
                                <button type="submit">Usuń</button>
                            </form>
                        </button>
                    </td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>