<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="./css/general-style.css">
    <link rel="stylesheet" type="text/css" href="./css/reservations-style.css">
    <title>Reservation Page</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <p id="nav_logo">Roligt</p>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="#" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="logout" class="button"><p1>Zaloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div id="reservation-page">
        <div id="title">Zarezerwuj animatora</div>
        <div id="form">
            <div id="tips">
                <p2>Data </p2>
                <p2>Godzina </p2>
                <p2>Miejsce </p2>
                <p2>Liczba dzieci </p2>
                <p2>Kategoria</p2>
            </div>
            <div id="information">
                <form th:action="@{/add}" th:object="${newReservation}" method="post">
                    <input name="date" type="text" placeholder="DD.MM.YYYY" th:field="*{date}">
                    <input name="hour" type="text" placeholder="GG:MM" th:field="*{hour}">
                    <input name="place" type="text" placeholder="Miasto, Ulica, Nr domu">
                    <input name="children" type="text" placeholder="1-20">
                    <select>
                        <option value="Grupa przedszkolna">Grupa przedszkolna</option>
                        <option value="Urodziny">Urodziny</option>
                        <option value="Impreza rodzinna">Impreza rodzinna</option>
                        <option value="Impreza specjalna">Impreza specjalna*</option>
                    </select>
                    <input id="save" type="submit" value="Save">
                </form>
            </div>
        </div>
        <p3>*impreza Hallowen, Powitanie Wiosny, Gwiazdkowa, Dzień dziecka</p3>
    </div>

</div>
</body>
</html>