<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="./css/general-style.css">
    <link rel="stylesheet" type="text/css" href="./css/reservations-style.css">
    <title>Reservation Page</title>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <p id="nav_logo">Roligt</p>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="resnotlog" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="logout" class="button"><p1>Zaloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div id="reservation-page">
        <div id="title">Zarezerwuj animatora</div>
        <div id="form">
            <div id="tips">
                <p2>Data </p2>
                <p2>Godzina </p2>
                <p2>Miejsce </p2>
                <p2>Liczba dzieci </p2>
                <p2>Kategoria</p2>
                <p2> </p2><p2> </p2>
            </div>
            <div id="information">
                <form th:action="@{/add}" th:object="${newReservation}" method="post">
                    <div id="choose-date">
                        <select name="day">
                            <option th:each="i : ${#numbers.sequence(1, 31)}" th:value="${i}" th:text="${i}"/>
                        </select>
                        <select name="month">
                            <option th:each="i : ${#numbers.sequence(1, 12)}" th:value="${i}" th:text="${i}"/>
                        </select>
                        <select name="year">
                            <option th:each="i : ${#numbers.sequence(2021, 2022)}" th:value="${i}" th:text="${i}"/>
                        </select>
                    </div>
                    <div id="choose-hour">
                        <select name="hour">
                            <option th:each="i : ${#numbers.sequence(7, 19)}" th:value="${i}" th:text="${i}"/>
                        </select>
                        <select name="minute">
                            <option value=0>00</option>
                            <option value=30>30</option>
                        </select>
                    </div>
                    <input name="place" type="text" placeholder="Miasto, Ulica, Nr domu">
                    <select name="children">
                        <option value=10>Do 10 dzieci</option>
                        <option value=15>Do 15 dzieci</option>
                        <option value=20>Do 20 dzieci</option>
                    </select>
                    <select name="partyType">
                        <option value="Grupa przedszkolna">Grupa przedszkolna</option>
                        <option value="Urodziny">Urodziny</option>
                        <option value="Impreza rodzinna">Impreza rodzinna</option>
                        <option value="Impreza specjalna">Impreza specjalna*</option>
                    </select>
                    <input id="save" type="submit" value="Zarezerwuj">
                </form>
            </div>
        </div>
        <p3>*impreza Hallowen, Powitanie Wiosny, Gwiazdkowa, Dzień dziecka</p3>
        <p id='correct-message' th:if="${correct}">Poprawnie dodano rezerwacje.</p>
        <p id='date-error-message' th:if="${dateError}" class="error">Ten termin jest niedostępny.</p>
    </div>

</div>
</body>
</html>