<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation page for not logged users</title>
</head>
<body>
<div class="container">
    <nav>
        <img src="src/resources/img/logo.svg">
        <ul>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="#" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="login" class="button"><p1>Zaloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div name="notlog-container">
        <p2>Opcja dostępna tylko dla zalogowanych użytkowników</p2>
        <a href="login">Zaloguj</a>
    </div>
</div>
</body>
</html>