<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/nav-style.css">
    <link rel="stylesheet" type="text/css" href="./css/general-style.css">
    <link rel="stylesheet" type="text/css" href="./css/reservations-style.css">
    <title>Reservation page for not logged users</title>
</head>
<body>
<div class="container">
    <nav>
        <p id="nav_logo">Roligt</p>
        <ul>
            <li>
                <a href="main" class="button"><p1>Strona główna</p1></a>
            </li>
            <li>
                <a href="#" class="button">  <p1>Rezerwacje</p1></a>
            </li>
            <li>
                <a href="priceList" class="button"> <p1>Cennik</p1></a>
            </li>
            <li>
                <a href="loginpage" class="button"><p1>Zaloguj</p1></a>
            </li>
        </ul>
    </nav>

    <div id="notlog-container">
        <p2>Opcja tylko dla zalogowanych</p2>
        <button href="loginpage">Zaloguj</button>
    </div>
</div>
</body>
</html>